# This dnsmasq.conf is only for the pxe-configuration
# The dns-configuration must be made from another dns-server like my raspy /etc/dnsmasq.conf

interface=ens33,lo
enable-tftp
tftp-root={{tftproot_path}}
