variant: fcos
version: 1.4.0
passwd:
  users:
    - name: core
      ssh_authorized_keys:
        - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDbwtcFEfty86gZxv/59he46gusMu+Nh+2YIIlU5Z/ROi6zb4u7ySLkNbdouVh5cGcrtySe2WoG5xxLrat8uT87x40glmivDi3UCQsL5+3MDCVlcj6rMTbtehvcIqub9ZUnVGrD50d8eQUAtgYo1FGbL1fXRmmFXorBr3bb6hk+UyYrfcmxNGsCksGm5k+AN4j126fN+Q3rWu7zg7vhp9K1FsYXC/19AzuU5YWGCoa2nRwZ89xRgEmIyk0wKNlO44DWieNr6G9pM+WRLrkByAm03yFKWt2sKB6lolKkKy0DWENc0Ik/OGJIhzuJAuz6A5mfNhJucHHjoRJThEmVzJxPcWQkeBTUN4hRr1kOiUezaC33gNNvvmAT/w5idCqX+LF8eM4wePgOvL/L29LanA0ZWgmzZZMUcL530Uo/FO4I2d8ynvDlUlhKVbDGVTu2Hf7KY1sSWPgWl3x4GB9pBJBo5FVr9uUKted27cKme9BAWSFTR9VB1FI+g5FDQ+02QCc= root@fedora35"
systemd:
  units:
    - name: serial-getty@ttyS0.service
      dropins:
      - name: autologin-core.conf
        contents: |
          [Service]
          # Override Execstart in main unit
          ExecStart=
          # Add new Execstart with `-` prefix to ignore failure`
          ExecStart=-/usr/sbin/agetty --autologin core --noclear %I $TERM
storage:
  links:
    - path: /etc/localtime
      target: ../usr/share/zoneinfo/Europe/Berlin
  files:
    - path: /etc/vconsole.conf
      mode: 0644
      contents:
        inline: KEYMAP=de
    - path: /etc/NetworkManager/system-connections/ens33.nmconnection
      mode: 0600
      contents:
        inline: |
          [connection]
          id=ens33
          type=ethernet
          interface-name=ens33
          [ipv4]
          address1=10.0.249.250/24,10.0.249.1
          dhcp-hostname=coreos
          dns=10.0.249.53;8.8.8.8
          dns-search=home.local
          may-fail=false
          method=manual
    - path: /etc/NetworkManager/system-connections/ens34.nmconnection
      mode: 0600
      contents:
        inline: |
          [connection]
          id=ens34
          type=ethernet
          interface-name=ens34
          [ipv4]
          address1=11.11.11.250/24,11.11.11.1
          dhcp-hostname=coreos
          dns=10.0.249.53;8.8.8.8
          dns-search=home.local
          may-fail=false
          method=manual
    - path: /etc/NetworkManager/system-connections/ens35.nmconnection
      mode: 0600
      contents:
        inline: |
          [connection]
          id=ens35
          type=ethernet
          interface-name=ens35
          [ipv4]
          address1=11.11.12.250/24,11.11.12.1
          dhcp-hostname=coreos
          dns=10.0.249.53;8.8.8.8
          dns-search=home.local
          may-fail=false
          method=manual
    - path: /etc/hostname
      mode: 0644
      contents:
        inline: |
          coreos
    - path: /etc/profile.d/systemd-pager.sh
      mode: 0644
      contents:
        inline: |
          # Tell systemd to not use a pager when printing information
          export SYSTEMD_PAGER=cat