variant: fcos
version: 1.4.0
passwd:
  users:
    - name: core
      ssh_authorized_keys:
        - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDbwtcFEfty86gZxv/59he46gusMu+Nh+2YIIlU5Z/ROi6zb4u7ySLkNbdouVh5cGcrtySe2WoG5xxLrat8uT87x40glmivDi3UCQsL5+3MDCVlcj6rMTbtehvcIqub9ZUnVGrD50d8eQUAtgYo1FGbL1fXRmmFXorBr3bb6hk+UyYrfcmxNGsCksGm5k+AN4j126fN+Q3rWu7zg7vhp9K1FsYXC/19AzuU5YWGCoa2nRwZ89xRgEmIyk0wKNlO44DWieNr6G9pM+WRLrkByAm03yFKWt2sKB6lolKkKy0DWENc0Ik/OGJIhzuJAuz6A5mfNhJucHHjoRJThEmVzJxPcWQkeBTUN4hRr1kOiUezaC33gNNvvmAT/w5idCqX+LF8eM4wePgOvL/L29LanA0ZWgmzZZMUcL530Uo/FO4I2d8ynvDlUlhKVbDGVTu2Hf7KY1sSWPgWl3x4GB9pBJBo5FVr9uUKted27cKme9BAWSFTR9VB1FI+g5FDQ+02QCc= root@fedora35"
