[connection]
id=Wired connection 1
uuid=8a71a8f6-5f46-3aea-8ca7-cf783e6e8d53
type=ethernet
autoconnect-priority=-999
interface-name=ens33
timestamp=1703794383

[ethernet]

[ipv4]
address1=10.0.249.250/24,10.0.249.1
dns=10.0.249.53;
dns-search=home.local;
may-fail=false
method=manual

[ipv6]
addr-gen-mode=default
method=disabled

[proxy]