#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use NFS installation media
nfs --server={{ nfs_server_name }} --dir={{ nfs_path }}{{ nfs_path_os_rhel77 }}
#
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=de --xlayouts='de'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens192 --nameserver={{ dns_server_ip }} --onboot=off --ipv6=auto --no-activate
network  --hostname={{ hostname }}.{{ domain }}

# Root password
rootpw --iscrypted $6$9jOgI58XZYIn3DQZ$QgVEunxqYA34xMKagdSI6i6gn.UtEhm6koD9kp9JiOBQZk8m/HutD5IDBRy6j4gUBu13lOpaM3/Tgbifh/nqA/
# System services
services --disabled="chronyd"
# System timezone
timezone Europe/Berlin --isUtc --nontp
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
reboot
